* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  background-image: url("../img/apartment-bed-bedroom-271624.jpg");
  height: 20em;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.control-buttons {
  justify-content: center;
  align-items: center;
}

.find {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, 50%);
  color: #ffffff;
  font-size: 1.8rem;
}

.collections {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.display:hover {
  box-shadow: 2px 2px 3px #c4c4c4;
}

.span-price {
  font-size: 1.4rem;
  font-weight: 500;
}

.fa-star {
  color: goldenrod;
}

body {
  margin-bottom: 2em;
}
