.background {
  background-image: url("../img/apartment-bed-bedroom-271624.jpg");
  height: 50vh;
  width: 100vw;
}

.control-buttons {
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(-20%, -50%);
  -webkit-transform: translate(-20%, -50%);
  -moz-transform: translate(-20%, -50%);
  -ms-transform: translate(-20%, -50%);
  -o-transform: translate(-20%, -50%);
  -webkit-transform: ;
}

.find {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 50%);
  color: #ffffff;
  font-size: 2rem;
}

.collections {
  margin: 0 auto;
  background: transparent;
  justify-content: center;
  align-items: center;
}

.display:hover {
  box-shadow: 2px 2px 3px #c4c4c4;
}

.span-price {
  font-size: 1.4rem;
  font-weight: 500;
}

.fa-star {
  color: goldenrod;
}

body {
  margin-bottom: 2em;
}
